name: CI

on:
  push:
    branches: [ main, SQRE ]
  pull_request:
    branches: [ main, SQRE ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Run Node script (generate contagem)
        run: node scripts/saveContagem.js

      - name: Run Cypress tests
        uses: cypress-io/github-action@v5
        with:
          # no app to start, just run the spec directly
          command: npx cypress run --spec cypress/integration/contarNomes.spec.js
